<table>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        {% if show_album_column %}
        <th>Album</th>
        {% endif %}
        <th>Duration</th>
        <th>Bitrate (kbps)</th>
        <th>Channels</th>
        <th>Lyrics</th>
        <th>ID</th>
    </tr>
    {% for song in songs %}
    <tr
        class="{% if item_limit_on_multi_table_pages %}{% if loop.index > item_limit_on_multi_table_pages %}hidden{% endif %}{% endif %}"
    >
        <td title="{{ song.song_id }}">
            <a href="/rest/stream.view?id={{ song.song_id }}"
                >{% if song.name %}{{ song.name }}{% else %}Unknown {% endif
                %}</a
            >
        </td>
        <td title="{{ song.artist_id }}">
            <a href="/browse/{{ collection.id }}/artist/{{ song.artist_id }}"
                >{% if song.artist_name %}{{ song.artist_name }}{% else
                %}Unknown Artist{% endif %}</a
            >
        </td>
        {% if show_album_column %}
        <td title="{{ song.album_id }}">
            <a href="/browse/{{ collection.id }}/album/{{ song.album_id }}"
                >{% if song.album_id %}{{ song.album_name }}{% else %}Unknown
                Album{% endif %}</a
            >
        </td>
        {% endif %}
        <td title="{{ song.duration }} ms">
            {% if song.duration and song.duration_human %}
            <time datetime="PT{{ (song.duration / 1000)|round|int }}S">
                {{ song.duration_human }}
            </time>
            {% else %}?{% endif %}
        </td>
        <td title="{{ song.bitrate }} kbps">
            {% if song.bitrate_human %}<data value="{{ song.bitrate }}"
                >{{ song.bitrate_human }}</data
            >{% if song.bitrate_mode_human %} ({{ song.bitrate_mode_human }}){%
            endif %}{% else %}?{% endif %}
        </td>
        <td>
            {% if song.channels %}<data value="{{ song.channels }}"
                >{{ song.channels }}</data
            >{% else %}?{% endif %}
        </td>
        <td>No</td>
        <td>
            {% if song.song_id %}<code>{{ song.song_id }}</code>{% else %}?{%
            endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if item_limit_on_multi_table_pages %} {% if songs|length >
item_limit_on_multi_table_pages %}
<button
    class="text-button"
    onclick="toggleSongLimit()"
    style="margin-top: 0.425rem"
>
    show all...
</button>
{% endif %}
<script>
    function toggleSongLimit() {
        const hiddenRows = document.querySelectorAll("tr.hidden");
        const button = event.currentTarget;
        if (hiddenRows.length > 0) {
            hiddenRows.forEach((row) => row.classList.remove("hidden"));
            hiddenRows.forEach((row) => row.classList.add("visible"));
            button.textContent = "show less...";
        } else {
            const visibleRows = document.querySelectorAll("tr.visible");
            visibleRows.forEach((row) => row.classList.remove("visible"));
            visibleRows.forEach((row) => row.classList.add("hidden"));
            button.textContent = "show more...";
        }
    }
</script>
{% endif %}
