<header>
    <nav>
        <ul
            style="
                list-style-type: none;
                display: flex;
                gap: 0.5rem;
                padding-left: 0;
                margin: 0;
            "
        >
            <li><a href="/">Home</a></li>
            {% for collection_id, collection in collections.items() %}
            <li>
                <a href="/browse/{{ collection_id }}">{{ collection.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
{% include 'partials/furniture/Crumbs.html' %}
